/*
* @Author: admin
* @Date:   2018-09-06 14:11:22
* @Last Modified by:   admin
* @Last Modified time: 2018-09-06 15:00:10
*/
*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
}
body{
	min-width: 1200px;
	height: 100%;
	background-color: #000;
}
 img{
	cursor: zoom-in;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	margin-top: -289px;

}