/*
* @Author: admin
* @Date:   2018-09-21 12:17:02
* @Last Modified by:   admin
* @Last Modified time: 2018-09-21 18:27:04
*/
a{
	text-decoration: none;
	color: #000;
}
.fcn{
	width: 1200px;
	margin: 0px auto;
	color: #bbb;
	line-height: 30px;
}
.fcn a{
	color: #bbb;
	font-size: 12px;
}
.fcn a:hover{
	color: #333;
}
.fcn span{
	font-size: 12px;
	color: #666;
}
.content{
	width: 100%;
	background: #f5f5f5;
}
.con{
	width: 1200px;
	margin: 0px auto;
	overflow: hidden;
}
.con a:hover{
	color: #900;
}
aside{
	width: 190px;
	float: left;
	margin-right: 12px;
}
.h{
	width: 190px;
	background: #ca141d;
	line-height: 50px;
}
.h a{
	display: block;
	color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
.h a:hover{
	color: #fff;
}
.h a span img{
	margin-bottom: 2px;
	vertical-align: middle;
	margin-right: 5px;
}
.left-list{
	width: 190px;
	background: #fff;
	padding-left: 30px;
	box-sizing: border-box;
	font-size: 14px;
	padding-bottom: 100px;
}
.left-list h3{
	line-height: 60px;
}
.left-list h3 img{
	margin-bottom: 2px;
	vertical-align: middle;
	margin-right: 5px;
}
.o-list li{
	margin-left: 20px;
	font-size: 13px;
	line-height: 30px;
}
.o-list li a{
	color: #878787;
}
.con-middle{
	width: 696px;
	float: left;
	margin-right: 10px;
}
.middle-top{
	width: 726px;
	height: 160px;
}
.middle-top img{
	float: left;
}
.topleft{
	width: 328px;
	height: 160px;
	background: #fff;
	border-top-left-radius:100px;
	border-bottom-left-radius: 100px;
	float: left;
	/* overflow: hidden; */
}
.topleft>img{
	margin-left: 20px;
	margin-top: 20px;
	border-top-left-radius: 50%;
	float: left;
	margin-right: 20px;
}
.topleft-text{
	margin-top: 30px;
	float: left;
	width: 90px;
	height: 100px;
	font-size: 12px;
}
.topleft-name{
	width: 90px;
	line-height: 30px;
	font-size: 18px;
}
.topleft-txt{
	width: 90px;
	line-height:30px;
	color: #3a3a3a;
}
.top-user-btn{
	width: 90px;
	height: 30px;
	border: 1px solid #900;
	line-height: 30px;
	margin-top: 10px;
	color: #900;
}
.top-user-btn span>img{
	float: left;
	margin: 5px 10px 0px;
}
.topright{
	background: #fff;
	width: 348px;
	height: 160px;	
	float: left;
}
.topright-con{
	width: 330px;
	height: 130px;
	background: #f9f9f9;
	margin-top: 15px;
}
.topright-con li{
	width: 110px;
	height: 140px;
	float: left;
}
.topright-con li>span{
	width: 110px;
	display: block;
	height: 52px;
	margin-top: 10px;
	margin-left: 29px;
	margin-bottom: 10px;
}
.topright-con li img{
	width: 52px;
	height: 52px;
	cursor: pointer;
}
.topright-con li p{
	text-align: center;
	width: 110px;
	line-height: 25px;
	font-size: 12px;
	color: #3a3a3a;
}
.topright-con li p b{
	font-size: 14px;
}
.con-nav{
	width: 696px;
	height: 80px;
	background: #fff;
	margin-top: 10px;
}
.con-nav ul li{
	width: 90px;
	height: 40px;
	margin-left: 40px;
	float: left;
	margin-top: 20px;
}
.con-nav span{
	margin-top: 5px;
	margin-right: 10px;
	float: left;
	cursor: pointer;
}
.con-nav ul li a{
	display: block;
    color: #717171;
    font-size: 12px;
    line-height: 40px;
}
.con-title{
	width: 696px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.con-title p{
	line-height: 18px;
	position: relative;
	font-size: 14px;
}
.con-title p::before{
	content: "";
	display: block;
	width: 600px;
	height: 1px;
	background: #ccc;
	position: absolute;
	top: 50%;
	left: 96px;
}
.con-title-right p::before{
	content: "";
	display: block;
	width: 200px;
	height: 1px;
	background: #ccc;
	position: absolute;
	top: 50%;
	left: 96px;
}
.con-title img{
	margin-top: 10px;
}
.recom{
	width: 696px;
	height: 100px;
	background: #fff;
	margin-top: 10px;
	border-top-left-radius: 100px;
	border-bottom-left-radius: 100px;
	padding-top: 20px;
	box-sizing: border-box;
}
.recom img{
	margin-left: 20px;
	float: left;
	margin-right: 20px;
}
.m-info{
	font-size: 14px;
    margin-right: 18px;
    color: #ca141d;
    font-weight: bold;
}
.m-name{
	font-size: 12px;
}
.m-time{
	font-size: 12px;
    color: #a4a4a4;
}
.m-detail{
	margin-top: 10px;
	font-size: 12px;
    height: 36px;
    color: #a4a4a4;
    float: left;
}
.recom>a{
	width: 90px;
	height: 30px;
	border: 1px solid #dddddd;
	text-align: center;
	line-height: 30px;
	float: right;
	margin-right: 20px;
	color: #3a3a3a;
	font-size: 12px;
}
.recom>a:hover{
	border: 1px solid #900;
	color: #900;
}


.browse-list{
	width: 696px;
	height: 210px;
	margin: 10px auto 0px;
	border: 1px solid #eaeaea;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}
.browse-lis{
	position: absolute;
	width: 2112px;
	height: 210px;
}
.browse-lis>li{
	list-style: none;
	width: 177px;
	height: 210px;
	float: left;
	position: relative;
}
.browse-lis>li a{
	width: 165px;
	height: 210px;
	display: inline-block;
	background: #fff;
	position: relative;
}
.browse-lis>li a>span{
	text-align: center;
	width:165px;
	z-index: 2;
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -82.5px;
	font-size: 12px;
	color: #3a3a3a;
}
.browse-lis li a img{
	margin: 20px 32.5px 20px;
}
.browse-list>span{
	width: 22px;
	height: 75px;
	background-color: #f0f0f0;
}
.browse-list span u{
	display: block;
	width: 11px;
	height: 16px;
	margin: 29.5px 5px;
	background-image: url('../images/icon-common.png');
}
.browse-list .bl-left{
	position: absolute;
	left: 0px;
	top: 50%;
	margin-top: -35.5px;	
}
.browse-list .bl-left u{
	background-position: -101px -1px;
}
.browse-list .bl-right u{
	background-position: -112px -1px;
}
.browse-list .bl-right{
	position: absolute;
	right: 0px;
	top: 50%;
	margin-top: -35.5px;
}
.con-right{
	width: 290px;
	float: left;
}
.con-right-bottom img{
	margin-top: -5px;
}
